version: "3"
services:
  auth:
    build: auth_api/.
  user:
    build: user_api/.
  restaurants:
    build: restaurants_api/.
    depends_on:
      - mongo
  catalogs:
    build: catalogs_api/.
    depends_on:
      - mongo
  notifications:
    build: notifications_api/.
    depends_on:
      - mongo
  commands:
    build: commands_api/.
    depends_on:
      - mongo
  livraisons:
    build: livraisons_api/.
    depends_on:
      - mongo
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - "./mongo/data:/data/db"
  nginx:
    image: "nginx"
    ports:
      - "8080:8080"
    volumes:
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
